<!DOCTYPE html>
<html>
<head>
  <title>User Management</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
</head>
<body>
<div id="app" class="container my-4">
  <el-container>
    <el-header>
      <h1>User Management</h1>
    </el-header>
    <el-main>
      <el-table :data="users" border style="width: 100%">
        <el-table-column prop="id" label="ID" width="180"></el-table-column>
        <el-table-column prop="name" label="Name" width="180"></el-table-column>
        <el-table-column prop="age" label="Age" width="180"></el-table-column>
        <el-table-column prop="email" label="Email" width="180"></el-table-column>
        <el-table-column label="Actions" width="180">
          <template slot-scope="scope">
            <el-button type="primary" size="mini" @click="showEditForm(scope.row)">Edit</el-button>
            <el-button type="danger" size="mini" @click="deleteUser(scope.row)">Delete</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-button type="primary" @click="showAddForm">Add User</el-button>
    </el-main>
  </el-container>

  <el-dialog :visible.sync="dialogVisible" :title="dialogTitle" :before-close="resetForm">
    <el-form ref="userForm" :model="form" label-width="80px">
      <el-form-item label="Name">
        <el-input v-model="form.name"></el-input>
      </el-form-item>
      <el-form-item label="Age">
        <el-input-number v-model="form.age"></el-input-number>
      </el-form-item>
      <el-form-item label="Email">
        <el-input v-model="form.email"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogVisible = false">Cancel</el-button>
      <el-button type="primary" @click="submitForm">{{ isEdit ? 'Update' : 'Submit' }}</el-button>
    </span>
  </el-dialog>
</div>

<script src="https://unpkg.com/vue@2"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      users: [],
      dialogVisible: false,
      dialogTitle: '',
      form: {
        id: null,
        name: '',
        age: null,
        email: ''
      },
      isEdit: false
    },
    methods: {
      loadUsers() {
        axios.get('/user/list')
                .then(response => {
                  this.users = response.data;
                });
      },
      showAddForm() {
        this.dialogTitle = 'Add User';
        this.isEdit = false;
        this.dialogVisible = true;
      },
      showEditForm(user) {
        this.dialogTitle = 'Edit User';
        this.form.id = user.id;
        this.form.name = user.name;
        this.form.age = user.age;
        this.form.email = user.email;
        this.isEdit = true;
        this.dialogVisible = true;
      },
      submitForm() {
        if (this.isEdit) {
          axios.put('/user/update?id=' + this.form.id, this.form)
                  .then(() => {
                    this.dialogVisible = false;
                    this.loadUsers();
                  });
        } else {
          axios.post('/user/create', this.form)
                  .then(() => {
                    this.dialogVisible = false;
                    this.loadUsers();
                  });
        }
      },
      deleteUser(user) {
        if (confirm('Are you sure you want to delete ' + user.name + '?')) {
          axios.delete('/user/delete?id=' + user.id)
                  .then(() => {
                    this.loadUsers();
                  });
        }
      },
      resetForm() {
        this.form.id = null;
        this.form.name = '';
        this.form.age = null;
        this.form.email = '';
      }
    },
    mounted() {
      this.loadUsers();
    }
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>